{%- set baseName = post.data.image -%}

<a class="swiper-slide" href="{{ post.url | url }}">
  <div class="card">
    <article class="news-card">
      <div class="news-card__image">
        <picture>
          <source 
            srcset="{{ ('/img/' + baseName + '.avif') | url }} 1x, {{ ('/img/' + baseName + '@2x.avif') | url }} 2x" 
            type="image/avif"
          >
          <source 
            srcset="{{ ('/img/' + baseName + '.webp') | url }} 1x, {{ ('/img/' + baseName + '@2x.webp') | url }} 2x" 
            type="image/webp"
          >
          <img 
            src="{{ ('/img/' + baseName + '.jpg') | url }}"
            srcset="{{ ('/img/' + baseName + '.jpg') | url }} 1x, {{ ('/img/' + baseName + '@2x.jpg') | url }} 2x"
            alt="{{ post.data.title }}"
            loading="lazy"
          >
        </picture>
      </div>
      <div class="news-card__content">
        <time class="news-date font-main">
          {% if post.date %}
            {{ post.date | date("dd.MM.yyyy") }}
          {% else %}
            Дата не указана
          {% endif %}
        </time>
        <span class="news-title font-title">{{ post.data.title }}</span>
        <p class="news-excerpt font-main">{{ post.data.excerpt }}</p>
      </div>
    </article>
  </div>
</a>